.content{
	background-image:url("http://pre05.deviantart.net/8bba/th/pre/f/2009/185/4/d/magical_circles_by_entereri.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	display:flex;
	justify-content: center;
	align-items: center;
}

.flip{
	width:314px;
	height:614px;
	float:left;
}
.flip > .back {
	position:absolute;
	transform:perspective(600px)rotateY(0deg);
	backface-visibility: hidden;
	transition:transform 0.5s linear 0s;
}
.flip > .front {
	position:absolute;
	transform:perspective(600px)rotateY(180deg);
	backface-visibility: hidden;
	transition:transform 0.5s linear 0s;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width:260px;
	height:560px;
	background-color:#A10004;
	border:7px solid #F9B03D;
	border-radius:10px;
	text-align:center;
}
.flip:hover >.back{
	transform:perspective(600px)rotateY(-180deg);
}
.flip:hover >.front{
	transform:perspective(600px)rotateY(0deg);
}



h1{
	color:#F9B03D;
}
p{
	text-align: center;
	font-size:60px;
	color:#F9B03D;
	background-color: rgba(16,0,4,0.6);
}
button{
	margin-left: 50px;
	width:100px;
	height:5vh;
	border:1px solid #A10004;
	border-radius:10px;
	background-color:#F9B03D;
	font-weight: bold;
	color:#A10004;
}
.f{
	width:314px;
	height:614px;
}
button:hover{
	background-color:#A10004;
	color:#F9B03D;
}